/* rafting.css */
:root {
    --primary-color: #d4c92a;
    --accent1-color: #000000;
    --accent2-color: #009fb7;
    --background-color: #b43f11;
    --body-font: Georgia, sans-serif;
    --heading-font: Georgia, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--background-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    background-color: #ada9b7;
}


h1,
h2 {
    display: flex;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 16px;
    -ms-flex-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


img {
    width: 740px;
    display: block;
    margin: 0 auto;
    border: 10px solid #412234;

    .socialmedia a {
        display: flex;
        width: 50px;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--background-color);
    color: #412234;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
    border: 2px solid #412234;
}

.employee-container {
    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    margin: 20px 0;

}

.employee {
    text-align: center;

    margin: 10px;

    padding: 15px;

    border: 10px solid #ccc;

    border-radius: 8px;

    background-color: #f9f9f9;

}

.employee img {
    width: 150px;

    height: 150px;

    border-radius: 50%;

}