:root {
--primary-color: #160C28;
--secondary-color: #000411;
--accent1-color: #2CFDCD;
--acent2-color: #E1EFE6;
--heading-font: Georgia;
--body-font: roboto;
}
header {
background-color: var(--primary-color)
color: var(--acent2-color)
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: var(--body-font)
color: var(--accent1-color)
}
header, main, footer {
width: 840px;
margin: 0 auto;
}
h1, h2 {
font-family: var(--heading-font)
color: var(--primary-color)
}
nav, p, section, article {
margin: 16px;
padding: 8px;
}
.socialmedia a {
text-decoration: none;
}